	<h2>Log In</h2>
	<%= form_tag "/login" do %>
	<div >
		<label>Username</label> 
	</div>	
	<div>	
		<%= text_field_tag :name %>
	</div>	
	<div style="margin-top: 15px;">
		<label>Password</label> 
	</div>	
	<div>
		<%= password_field_tag :password %>
	</div>	
		<%= submit_tag "Log in", class: "p-button bg-color-dark color-bright margin-15" %>
	<% end %>