


<% unless comment.archived? %>
	<p>
	  <strong>Commenter:</strong>
	  <%= comment.commenter %>
	</p>

	<p>
	  <strong>Comment:</strong>
	  <%= comment.body %>
	</p>
<% end %>


<% if !!current_user && current_user.name == comment.commenter %>
  <%= button_to "Delete Comment", user_article_comment_path(@article.user_id, @article.id, comment.id), 
  method: :delete, data: { confirm: "Really?" }, class: "p-button" %>
  <% end %>
