<% unless comment.archived? %>
	<p>
	  <strong>Commenter:</strong>
	  <%= comment.commenter %>
	</p>

	<p>
	  <strong>Comment:</strong>
	  <%= comment.body %>
	</p>
<% end %>

<p>
  <%= button_to "Delete Comment", [comment.article, comment], 
  method: :delete, form: { data: {
                turbo_confirm: "Are you sure?"
              } } %>
</p>