<% unless article.archived? %>
			<div class="margin-lr margin-30 curved-borders-con">
				<div class="margin-5">
					<h3>
						<%= link_to article.title, user_article_path(article.user_id, article) %>
					</h3>
				</div>
				<div class="margin-15">
					<%= article.body[0,60] + "..."%>
				</div>
			</div>
			<% end %>
