<div class="flex-column">


  <h1>Users</h1>

  <div id="users">
    <% @users.each do |user| %>

      <div class="margin-lr margin-30 curved-borders-con">
      <h2><%= user.name %></h2>
        <%= link_to "details", user %> <p>
          <h3>last posts:</h3>
          <div>
          <%= render user.articles.last(2) %>
          </div>
      </div>

    <% end %>
  </div>